.modal-dialog .close {
    display: none;
}

.control-group {
    margin-bottom: 20px;
    display: block;
}

splunk-control-group.fix-label label {
    padding-top: 10px !important;
}

splunk-control-group input[type="checkbox"] {
    height: 20px !important;
    width: 20px !important;
}

splunk-control-group input[type="checkbox"]+label {
    padding-top: 4px;
    padding-left: 0.5em;
}

splunk-control-group div.splunk-dropdown {
    margin-left: 0 !important;
    margin-right: 0 !important;
}

splunk-control-group div.splunk-choice-input-message {
    display: none;
}

splunk-control-group splunk-search-dropdown {
    width: 100%;
}

splunk-control-group.help p {
    color: gray;
}

.action-button {
    float: left;
    margin-right: 10px;
}